
:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --fs-16: 1rem;
}
body{
    background-color: var(--off-white);
}
.container{

    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;

}

header {
    display: flex;
    justify-content: space-between;

}
header > ul{
    display: flex;
    gap: var(--fs-16);
    list-style: none;
}
main{
    margin-top: 1%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
    column-gap: 1em;
    row-gap: 1em;
}

.future{

    display: grid;
    grid-template-columns: 40% 60%;
}
hr{
    width: 100%;
}
.caption{
    height: 100%;

}
.caption > h1{
    font-size: 1.75em; /* Initial font size */
    max-width: 100%;
    max-height: 100%;
}
.readmore{
    font-size: 1rem;
}
#btn{
    border: none;
    height: 3em;
    width: 10em;
    background-color: var(--soft-red);
    color: var(--off-white);
    font-size: var(--fs-16);
}
.multiple{

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-end: span 2;
}
.contentImg{
    height: 8em;
    width: 7em;
}
.content{
    display: grid;
    grid-template-columns: 35% 50%;
}
.right{
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding-left: 5%;
    padding-right: 5%;
}
.right > h1 {
    color: var(--soft-orange);
    font-size: 2rem;
}
.content > .items{
    margin-left: 1.5em;
}
.hero-container{

    display: grid;
    grid-template-columns: 65% 32%;
    gap: 3%;
}

@media (max-width: 44em) {

    main{
        grid-template-columns: 100%;

    }
    .future{
        grid-template-columns: 100%;
    }
    .left{
        grid-template-columns: 100%;

    }
    .multiple{
        grid-template-columns: 100%;
    }
    .hero-container{
        grid-template-columns: 100%;

    }
}